.profile-component {
    background-color: #fff;
    border-radius: 0.1rem;
    border: 0.1rem solid hsl(0, 4%, 90%);
    padding: 0.65rem 0;
    margin-bottom: 1rem;
    background-color: #fff;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.7rem;
    padding-bottom: 0.7rem;
}
.profile-header{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.profile-picture {
    max-width: 1.5rem;
    overflow: hidden;
}
.profile-picture > img {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius: 50%;
    border: 0.1rem solid rgb(253, 73, 41);
}
.profile-header > .userName {
    padding-left: 0.4rem;
    font-size: 1rem;
    font-weight: 700;
    color: hsl(0, 0%, 20%);
}
.profile-dots{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.profile-dots .dots {
    font-size: 1.25rem;
    font-weight: 700;
    color: hsl(0, 0%, 20%);
    padding-right: 1rem;
}
.profile-post > img{
    display: block;
    max-width: 100%;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.27rem;
}
.side-icons {
    display: flex;
    align-items: center;
}
.icon {
    width: 2.4rem;
}
.save-icon {
    width: 2rem;
}
.icon > img{
    max-width: 100%;
}
.likes {
    display: flex;
    padding-left: 0.65rem;
}
.post-like {
    display: flex;
    align-items: center;
    padding-right: 0.4rem;
}
.like{
    max-width: 1.2rem;   
}
.like > img {
    max-width: 100%;
    border-radius: 50%;
    border: 0.1rem solid transparent;
}
.avatar-like {
    z-index: 2;
}
.anne-like{
    margin-left: -0.5rem;
    z-index: 1;
}
.jonathan-like{
    margin-left: -0.5rem;
}
.post-like-by > p{
    font-size: 0.8rem;
    font-weight: 500;
    color: hsl(0, 0%, 40%)
}
.ajay-like{
    font-size: 0.8rem;
    font-weight: 700;
    color: hsl(0, 0%, 20%)
}
.about{
    display: flex;
    align-items: baseline;
    padding: 0 0.7rem;
    margin-bottom: 0.2rem;
}
.about > p {
    font-size: 0.9rem;
    font-weight: 500;
    color: hsl(0, 0%, 40%)
}
.about p > span {
    font-size: 1rem;
    font-weight: 700;
    color: hsl(0, 0%, 20%);
    padding-right: 0.13rem;
   
}
.comments{
    font-size: 0.77rem;
    font-weight: 500;
    color: hsl(0, 0%, 42%);
    margin-left: 0.7rem;
    margin-bottom: 0.3rem
}
.add-comment{
    display: flex;
    align-items:flex-start;
    margin-left: 0.7rem;
}
.add-comment > div{
    max-width: 1.2rem;
    margin-right: 0.4rem;
}
.add-comment > div > img {
    max-width: 100%;
}
.add-comment > p{
    font-size: 0.77rem;
    font-weight: 500;
    color: hsl(0, 0%, 42%)
}
.time{
    font-size: 0.63rem;
    font-weight: 500;
    color: hsl(0, 0%, 42%);
    margin-left: 0.7rem;
    margin-bottom: 0.4rem;
}

