.stories{
    display: flex;
    align-items: flex-start;
    padding: 1rem 0.63rem;
    background-color:#fff;
    border-radius: 0.2rem;
    border: 0.1rem solid hsl(0, 4%, 90%);
    margin: 5rem 0 1rem 0;

}
.story {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0.57rem;
}
.story-img{
    max-width: 4rem;
}
.story-img > img {
    width: 100%;
    border-radius: 50%;
    padding: 0.125rem;
    border: 0.125rem solid rgb(253, 73, 41);
} 
.story > p {
    font-size: 0.63rem;
    min-width: 10ch;
    font-weight: 600;
    color: hsl(0, 0%, 20%);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
