.header {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    max-width:30em;
    padding: 0 1rem;
    margin: 0 auto;
    background-color:#fff;
}
.instagram-logo {
    width: 7rem;
    padding-top: 0.3rem;
}
 .instagram-logo > InstagramLogo {
     width: 100%;
 }
.input {
    position: relative;
    display: none;
}
.input > .search-icon{
    top:0;
    padding-left: 0.2rem ;
    transform: translate(0%,4%);
    position: absolute;
    width: 2.2rem;
}
.search-icon > img {
    width: 100%;
}
.input-field {
    width: 100%;
    padding: 0.75em 1rem ;
    text-align: center;
    color:hsl(0,0%,42%);
    border-radius: 0.5rem;
    border: none;
    outline: none;
    background-color:hsl(0, 0%, 92%);
}
::placeholder{
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: hsl(0, 0%, 60%);
    margin-left: 3.5rem;
}
.header-icons {
    display: flex;
    align-items: center;
}
.header-icon {
    width: 2.7rem;
    margin-right: 0.25rem;
}
.header-icon > img{
    width: 100%;
}
.header-home-profile {
    width: 1.8rem;
}
.header-home-profile > img {
    width: 100%;
}

@media only screen and (min-width:36em) {
    .header{
        max-width: 68em;
        padding: 0 1rem;
    }
    .input{
        display:inline-block;
    }
}

@media only screen and (min-width:60em) {
    .input-field {
            padding: 0.75rem 3rem;
        }
}
