@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Poppins:wght@200;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: whitesmoke;
  font-family: 'Poppins',sans-serif;
}
.App{
  max-width: 30em;
  margin: 0 auto;
  padding: 0 0.35rem ;
}
.header-component{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width:100%;
  border-bottom:0.1rem solid hsl(0, 4%, 87%) ;
  background-color: #fff;
}
.fotter{
  display: grid;
  grid-template-columns: 1fr;
}
.side-component{
  display: none;
}

@media only screen and (min-width:60em){
  .App{
    max-width:60em;
    margin: 0 auto;
  }
  .fotter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    grid-gap:1rem ;
    justify-content: center;
  }
  .side-component{
    display: inline-block;
    padding: 2rem 3rem 1rem 1rem;
    margin-top: 5rem;
  }
}